.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-row {
    width: 100%;
}

.login-column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-column-right {
    background-color: #000000;
    padding: 40px;
    border-radius: 8px;
    color: white; /* Add this line */
}

.login-logo {
    font-size: 2rem;
    margin-bottom: 20px;
    color: white; /* Add this line */
}

.login-input {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white; /* Add this line */
}

.login-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: white; /* Add this line */
}

.login-link {
    color: #007bff;
    text-decoration: none;
    color: white; /* Add this line */
}

.login-link:hover {
    text-decoration: underline;
}
.white-background {
    background-color: white;
  }
  